{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Zoom{% endblock %}
{% block content %}
<hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
      <div class="vimeo-trailer ms z-1">
        <iframe id="vimeo-trailer-zoom" src="https://player.vimeo.com/video/816493215?h=b22c11460e" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </div>
      </div>
      <div class="col-md-5">
        <div class="fond-zoom">
        <div class="zoom-card-up mt me z-n1">
<div class="card " id="card-zoom" style="width: 620px;">
  <div class="card-body" id="card-body-zoom" style="height: 344px;width: 600px;">
    <h5 class="card-title" id="title-zoom">Rejoins les réunions</h5>
    <p class="card-text" id="zoom-parag">Notre compte Zoom, viens participer et pourquoi pas partager ta stratégie de trading avec nous ! 
Abonne toi à l'application et demande à nous rejoindre.
Envoi nous un email à wallstreetforex.academy@gmail.com</p>
    <a href="https://zoom.us/download" class="btn btn-primary" id="zoom-btn">Télécharger Zoom</a>
  </div>
</div>
</div>
      </div>
      </div>
    </div>
    {% endblock %}