{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Zoom{% endblock %}
{% block content %}
<hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
      <div class="vimeo-trailer ms z-1" style="border-radius: 10px;">
        <iframe id="vimeo-trailer-zoom z-1" src="https://player.vimeo.com/video/816493215?h=b22c11460e" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="zoom-card-groupe-travail mt me">
<div class="card z-n1" id="card-zoom" style="width: 620px;">
  <div class="card-body" id="card-body-zoom" style="height: 650px;width: 600px;">
    <h5 class="card-title" id="title-zoom">Groupe de travail académique</h5>
    <h7 class="commu-groupe">Une forte communeauté</h7>
    <p class="card-text" id="zoom-parag">Etre abonné à l’application te permet de rejoindre gratuitement un groupe de travail communautaire hors normes, composé de traders confirmés, d’amateurs, et bien sûr de débutants en quête
de réussite dans leur apprentissage.
Tout ça encadré par le staff Wall Street
FOREX et moi même qui dans l’exercice de ma passion, pousse toute la communauté vers les sommets, notamment grâce à mes nombreuses réunions quotidiennes et contenus de formations ! 
Crée un compte zoom et envoi nous ton adresse mail</p>
<img class="groupe-travail" src="{{ asset('assets/img/groupe-travail-academique.png')}}">
  </div>
</div>
</div>
      </div>
      <div class="col-md-5">
        <div class="fond-zoom">
        <div class="zoom-card-up mt me z-n1">
<div class="card z-n1" id="card-zoom" style="width: 620px;">
  <div class="card-body" id="card-body-zoom" style="height: 344px;width: 600px;">
    <h5 class="card-title" id="title-zoom">Rejoins les réunions</h5>
    <p class="card-text" id="zoom-parag">Notre compte Zoom, viens participer et pourquoi pas partager ta stratégie de trading avec nous ! 
Abonne toi à l'application et demande à nous rejoindre.
Envoi nous un email à wallstreetforex.academy@gmail.com</p>
    <a href="https://zoom.us/download" class="btn btn-primary" id="zoom-btn">Télécharger Zoom</a>
  </div>
</div>
</div>
      </div>
    </div>
    </div>
    {% endblock %}