{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Broker{% endblock %}

{% block content %}


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <h1 class="broker-title">COMMENT S'INSCRIRE</h1>
    <h2 class="broker-subtitle">REGARDE LA VIDEO AVANT DE T'INSCRIRE</h2>
    <div class="row featurette">
      <div class="col-md-12">
        <div class="broker-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/cy7pez7PI-Y"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe></div>
      <div class="broker-submit"><a target="_blank" href="https://partners.admiralmarkets.com/6qFi07"><button type="submit" class="broker-button">S'INSCRIRE</button></a></div>
      </div>
    </div>
    <div class="background-admirals"  style="background-image: url('{{asset('assets/img/admirals-markets.png')}}')" alt="admirals-markets">
    <div class="row featurette">
      <div class="col-md-12">
      <div class="admirals"><h1><font color="#fff">ADMIRAL MARKETS</font><font color="#B18930"> BROKER OFFICIEL </font><font color="#B18930">W</font><font color="#fff">all</font><font color="#B18930"> S</font><font color="#fff">treet</font><font color="#B18930"> F</font><font color="#fff">orex</font></h1></div>
      </div>
<div class="broker-text me mt" style="width: 324px;" id="center-card">
  <div class="card" id="card-broker " style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title-broker"> GRATUIT</h5>
    <h6 class="card-title">✓ BROKER 100% FIABLE</h6>
    <h6 class="card-title">✓ SPREAD REDUIT</h6>
    <h6 class="card-title">✓ LEVIER 500</h6>
    <h6 class="card-title">✓ EXCLU WSF</h6>
    <div class="broker-submit"><a target="_blank" href="https://partners.admiralmarkets.com/6qFi07"><button type="submit" class="broker-button">S'INSCRIRE</button></a></div>
</div>
</div>
</div>  
</div> 

{% endblock %}