{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Broker{% endblock %}

{% block content %}


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-12">
        <div class="broker-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/cy7pez7PI-Y"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe></div>
            <div class="broker-submit"><a target="_blank" href="https://partners.admiralmarkets.com/6qFi07"><button type="submit" class="broker-button">S'INSCRIRE</button></a></div>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
        <font color="#fff">ADMIRAL MARKETS</font> BROKER OFFICIEL <font color="#B18930">W</font><font color="#fff">all</font><font color="#B18930"> S</font><font color="#fff">treet</font><font color="#B18930"> F</font><font color="#fff">orex</font></h1>
      </div>
      <div class="col-md-5 order-md-1">
        {#{{< placeholder width="500" height="500" background="var(--bs-secondary-bg)" color="var(--bs-secondary-color)" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" >}}#}
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        {#{{< placeholder width="500" height="500" background="var(--bs-secondary-bg)" color="var(--bs-secondary-color)" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" >}}#}
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}
