{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Formation Gratuite{% endblock %}

{% block content %}
   <div class="background-formation">
<h1 class="formation-title text-center">APPREND LE TRADING AVEC <font color="#B18930">W</font><font id="txt">all</font><font color="#B18930"> S</font><font id="txt">treet</font><font color="#B18930"> F</font><font id="txt">orex</font></h1>
<div class="row">
      <div class="col-lg-6">
        <h2 class="formation-subtitle text-center">Sur cette formation tu vas apprendre:</h2>
        <h4 class="formation-subtitle text-center">1- créer un compte broker</h4>
        <h4 class="formation-subtitle text-center" >2- installer MT5</h4>
        <h4 class="formation-subtitle text-center">3- paramétrer MT5</h4>
        <h4 class="formation-subtitle text-center">4- installer les indicateurs mt5</h4>
        <h4 class="formation-subtitle text-center">5- apprendre à analyser</h4>
      </div>
      <div class="col-lg-6">
        <div class="formation-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/OP61O-gYqHI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="formation-submit"><a target="_blank" href="https://partners.admiralmarkets.com/6qFi07"><button type="submit" class="formation-button">DEMARRER</button></a></div>
      </div>
</div>
</div>


{% endblock %}
