{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Formation Gratuite{% endblock %}

{% block content %}
<!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7">
        <h1 class="formation-title">APPREND LE TRADING AVEC <font color="#B18930">W</font><font id="txt">all</font><font color="#B18930"> S</font><font id="txt">treet</font><font color="#B18930"> F</font><font id="txt">orex</font></h1>
        <h2 class="formation-subtitle">Sur cette formation tu vas apprendre:</h2>
        <h4 class="formation-subtitle">1- créer un compte broker</h4>
        <h4 class="formation-subtitle">2- installer MT5</h4>
        <h4 class="formation-subtitle">3- paramétrer MT5</h4>
        <h4 class="formation-subtitle">4- installer les indicateurs mt5</h4>
        <h4 class="formation-subtitle">5- apprendre à analyser</h4>
      </div>
      <div class="col-md-5">
        <div class="formation-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/OP61O-gYqHI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
</div>
<div class="formation-submit"><a target="_blank" href="https://partners.admiralmarkets.com/6qFi07"><button type="submit" class="formation-button">DEMARRER</button></a></div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
<!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        {#{{< placeholder width="140" height="140" background="var(--bs-secondary-color)" text="false" class="rounded-circle" >}}#}
        <div class="card" id="formation-card" style="width: 18rem;">
      <div  id="formation-card-body"class="card-body">
        <h5 class="card-title"><font color="#B18930">FIGURE CHARTISTE</font></h5>
        <img src="{{ asset('assets/img/candle.png')}}" class="card-img-top" alt="...">
        <p class="card-text">Apprends les figures chartistes. </p>
        <a href="https://drive.google.com/file/d/1K_lw9JJzKNGmjeeGLbizYGsftXw_p9hS/view" id="btn-formation-chart" class="btn btn-primary">Voir</a>
      </div>
    </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="card" id="formation-card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><font color="#B18930">CALCULATRICE DE LOTS</font></h5>
        <img src="{{ asset('assets/img/calculatrice.png')}}" class="card-img-top" id="calculette" alt="...">
        <p class="card-text">Calcul ton lot pour investir.</p>
        <a href="https://admiralmarkets.com/fr/commencez-a-trader/calculatrice?regulator=jsc" id="btn-formation-calc" class="btn btn-primary">Calculer</a>
      </div>
    </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
<hr class="featurette-divider">
    <div class="row">
      <div class="col-lg-6">
        {#{{< placeholder width="140" height="140" background="var(--bs-secondary-color)" text="false" class="rounded-circle" >}}#}
        <h2 class="fw-normal">Heading</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-6">
        {#{{< placeholder width="140" height="140" background="var(--bs-secondary-color)" text="false" class="rounded-circle" >}}#}
        <h2 class="fw-normal">Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



{% endblock %}
