{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Formation Gratuite{% endblock %}

{% block content %}
<div class="background-formation">
  <h1 class="formation-title text-center">APPREND LE TRADING AVEC <font color="#B18930">W</font><font id="txt">all</font><font color="#B18930"> S</font><font id="txt">treet</font><font color="#B18930"> F</font><font id="txt">orex</font></h1>
  <div class="row">
      <div class="col-lg-6">
        <h2 class="formation-subtitle text-center">Sur cette formation tu vas apprendre:</h2>
        <h4 class="formation-subtitle text-center">1- créer un compte broker</h4>
        <h4 class="formation-subtitle text-center" >2- installer MT5</h4>
        <h4 class="formation-subtitle text-center">3- paramétrer MT5</h4>
        <h4 class="formation-subtitle text-center">4- installer les indicateurs mt5</h4>
        <h4 class="formation-subtitle text-center">5- apprendre à analyser</h4>
      </div>
      <div class="col-lg-6">
        <div class="formation-youtube mx-auto" style="width: 500px;"><iframe width="560" height="315" src="https://www.youtube.com/embed/OP61O-gYqHI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="formation-submit"><a target="_blank" href="https://partners.admiralmarkets.com/6qFi07"><button type="submit" class="formation-button">DEMARRER</button></a></div>
      </div>
  </div>
<hr class="featurette-divider">

    <div class="row featurette">
         <div class="col-md-6">
           <div class="card" id="formation-card" style="width: 18rem;">
              <div  id="formation-card-body"class="card-body">
                 <h5 class="card-title-formation-h5"><font color="#B18930">FIGURE CHARTISTE</font></h5>
                  <img src="{{ asset('assets/img/candle.png')}}" class="card-img-top" alt="...">
                    <p class="card-title-formation-p">Apprends les figures chartistes. </p>
                     <a href="https://drive.google.com/file/d/1K_lw9JJzKNGmjeeGLbizYGsftXw_p9hS/view" id="btn-formation-chart" class="btn btn-primary">Voir</a>
              </div>
           </div>
      </div>
      <div class="col-md-6">
            <div class="card" id="formation-card" style="width: 18rem;">
                <div class="card-body">
                     <h5 class="card-title-formation-h5"><font color="#B18930">CALCULATRICE DE LOTS</font></h5>
                     <img src="{{ asset('assets/img/calculatrice.png')}}" class="card-img-top" id="calculette" alt="...">
                      <p class="card-title-formation-p">Calcul ton lot pour investir.</p>
                      <a href="https://admiralmarkets.com/fr/commencez-a-trader/calculatrice?regulator=jsc" id="btn-formation-calc" class="btn btn-primary">Calculer</a>
                </div>
             </div>
           </div>
    </div>
  <hr class="featurette-divider">
  <div class="banner-nico"  style="background-image: url('{{asset('assets/img/nico-nuit.png')}}')" alt="nico-nuit"></div>
    <div class="row featurette">
      <div class="col-md-6">
      <div class="center-dropdown-0 mt me">
        <li class="dropdown" id="padding-forma-li">
          <a class="dropdown-toggle" id="font-button-formation" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            POURQUOI ?
          </a>
          <ul class="dropdown-menu" id="dropdown-formation">
            <li><p>Beaucoup de personnes me disent qu’ils aimeraient bien apprendre à trader sur les marchés financiers (notamment le forex et les options binaires) mais que ça doit être trop technique et donc très dur à comprendre.
Je leur réponds que c’est FAUX.
D’une part, parce qu’avec +800 élèves sont actuellement dans la WALL STREET FOREX, la plupart ne connaissait rien aux marchés financiers. Et aujourd’hui, grâce à l’apprentissage et à l’entrainement, ils progressent et gagnent de l’argent très régulièrement.
D’autre part, c’est une erreur de penser que le forex ne dépend que de la technique, d’indicateurs, ou de la stratégie que vous utilisez. En fait, GAGNER de l’argent grâce au forex est principalement une question de mentalité, comment vous pensez ou réagissez face aux fluctuations du marché.
Donc la différence entre un trader qui gagne de l’argent et un trader qui en perd c’est juste que le premier est bien formé et gère correctement ses émotions.
Voici quelques astuces qui devraient vous permettre de progresser et de gagner de l’argent rapidement sur le forex :
Pourquoi la plupart des traders perdent de l’argent ?
Vous avez sans doute déjà entendu que 90% des traders (qui sont en fait des particuliers) sont perdants. Et il y a une bonne raison à cela. Ils croient que FOREX = TICKET GAGNANT DU LOTO !!
Ils s’imaginent qu’après quelques jours de formation et d’entrainement, ils vont pouvoir quitter leur travail, transformer 100€ en 10 000€ etc.
Non seulement ce sont des désirs irréalistes mais ces traders débutent dans les marchés financiers avec une mentalité contre-productive. En effet, dès le début, ils se mettent une pression pour gagner beaucoup d’argent et vite, et cela débouche sur des émotions, qu’ils ne savent pas contrôler, et qui va les emmener à la catastrophe financière. </p></li>
          </ul>
        </li>
        </div>
        <div class="center-dropdown-1 mt me">
        <li class="dropdown" id="padding-forma-li">
          <a class="dropdown-toggle" id="font-button-formation" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Comment agir comme un trader gagnant ?
          </a>
          <ul class="dropdown-menu" id="dropdown-formation">
            <li><p>Se former et s’entrainer. Sur un compte de démo, appliquer les techniques et stratégies de la formation pendant quelques mois, vous apprendra à être un sniper et à comprendre la psychologie du marché. Beaucoup trop de débutants sautent cette 1ère étape et vont fumer leur compte de trading en passant en réel trop tôt.
Gérer son risque selon les règles du marché. Si vous ne respectez pas votre money management, c’est non seulement un gros stress qui vous attend à chaque fluctuation du marché et c’est aussi un gros risque de fumer votre compte de trading. Gérer correctement son risque à chaque trade c’est le meilleur moyen de rester serein, de voir les opportunités de trades et de durer sur le long terme.
Trader peu. Beaucoup de personnes placent trop de trades en une journée. C’est le cas des scalpers entre autres. À chacun sa vision, mais une nouvelle fois, le forex consomme beaucoup d’énergie mentale et émotionnelle. Plus il y a de trades ouverts en une journée plus vite la fatigue arrive et dans ce cas, on est plus susceptible de commettre des erreurs d’analyses. Il vaut mieux placer un trade qui a été soigneusement analysé au préalable (méthode du sniper) que d’en placer 10 avec une analyse moyenne voire médiocre. Trader peu en une journée permet aussi de réduire les coûts de trading (commissions diverses du broker).
Être organisé. Le trading est une activité sérieuse tout comme un business. D’une part, cela signifie qu’il faut éviter toute distraction pendant ce temps. Et d’autre part, chaque jour vous tenez un journal de trading. Dans celui-ci, vous consignez tous les éléments utiles qui sont arrivés au cours de la journée et qui vous permettrons d’affiner vos futures analyses et à continuer de gagner en expérience. Par exemple, ça peut être les résultats obtenus avec une stratégie donnée, la réaction d’une paire de devises tel jour de la semaine, la gestion de vos émotions face à telle situation ……</p></li>
          </ul>
        </li>
      </div>
      </div>
      <div class="col-md-6">
      <div class="center-dropdown-2 mt me">
        <li class="dropdown" id="padding-forma-li">
          <a class="dropdown-toggle" id="font-button-formation" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Les émotions les plus dangereuses dans le trading !
          </a>
          <ul class="dropdown-menu" id="dropdown-formation">
            <li><p><br>
 Cupidité : <br>
 <br>
 De nombreuses personnes intéressées seulement par l’appât du gain vont – soit ne pas respecter leur money management et prendre des risques inconsidérés – soit ne pas prendre leur profit à temps car trop persuadées que le marché va aller dans leur sens.
L’idée à retenir est qu’être trop gourmand est l’erreur numéro 1 qui fait perdre de l’argent à de nombreux traders.
Manque de confiance en soi : C’est typique chez les traders débutants car ils manquent d’expérience et ne maitrisent pas encore les techniques et stratégies des marchés financiers.ssentiel pour eux de continuer à s’entrainer sur un compte de démo jusqu’à ce qu’ils atteignent 70-80% de réussite. Passer en réel trop tôt, c’est prendre le risque de perdre de l’argent.
Le manque de confiance peut aussi concerner ceux qui ont accumulé de nombreux trades perdants ou ont perdu une grosse somme d’argent sur juste un trade trop risqué.
Pour surpasser cette émotion paralysante, il faut comprendre que le respect du money management est impératif. Il permet de ne pas risquer trop d’argent par rapport au capital de départ. Et en retrouvant de la sérénité, le trader pourra mieux saisir les opportunités de trades gagnants.
Sentiment de vengeance : Quand ils viennent de perdre de l’argent, certains traders ont un sentiment de vengeance et veulent rattraper leur perte très/trop rapidement. Première chose à accepter : 100% de trades gagnants est irréaliste donc la perte est normal. Deuxième chose : trader sous le coup de l’émotion est dangereux. Car il y a le risque de placer un trade sans analyse technique sérieuse, de ne pas respecter le money management et donc de perdre encore plus d’argent.
Euphorie : Une nouvelle fois les émotions n’ont pas leur place dans le trading. Même une émotion positive comme l’euphorie est incluse. Dans le cas d’un trade gagnant, si la joie emporte le trader, le risque est qu’il prenne trop la confiance et qu’il place trop rapidement un autre trade sous le coup de l’émotion. Et comme vous le savez « placer un trade sous le coup de l’émotion (positive ou négative) » c’est une forte probabilité de placer un trade foireux !!</p></li>
          </ul>
        </li>
        </div>
        <div class="center-dropdown-3 mt me">
        <li class="dropdown" id="padding-forma-li">
          <a class="dropdown-toggle" id="font-button-formation" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Avoir d’autres activités en dehors du forex.
          </a>
          <ul class="dropdown-menu" id="dropdown-formation">
            <li><p>Avoir d’autres activités en dehors du forex. <br>
            <br>
Beaucoup de personnes pensent que « plus signifie mieux ». Par exemple, les traders débutants vont ainsi rester assis pendant des heures devant leur plateforme de trading à regarder l’évolution des graphiques. C’est contre-productif physiquement et mentalement. Vérifiez votre trade 2 ou 3 fois dans la journée. Mais le reste du temps, vous devriez être occupé à d’autres activités. En agissant ainsi, vous serez moins sujet aux émotions à chaque fluctuation du marché et vous aurez une meilleure qualité de vie.
J’espère que ces astuces vous seront utiles et vous permettront de progresser dans le domaine du trading et de gagner l’argent que vous désirez.</p></li>
          </ul>
        </li>
        </div>
      </div>
    </div>


{% endblock %}
