.broker-text.me {
    margin-left: 1750px;
}
.broker-text.mt {
    margin-top: 340px;
}
.broker-title{
    text-align: center;
    color: #101D47;
}
.broker-subtitle{
    text-align: center;
    color: #101D47;
}
.broker-youtube{
    text-align: center;
}
.broker-submit{
    text-align: center;
}
.broker-submit{
    text-align: center;
}
.broker-button{
    height: 50px;
    width: 180px;
    background-color: rgb(16, 29, 71);
    color: #B18930 ;
    border-radius: 15px;
    border:solid 3px #B18930;
    margin-bottom: 5px;
}
.broker-button:hover{
    height: 50px;
    width: 180px;
    color: #CCB72B;
    border-radius: 15px;
    border:solid 3px #CCB72B;
}
.background-admirals{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    
}
.admirals{
    text-align: center;
}

@media screen and (max-width: 2560px) {
    .background-admirals{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 75vh;
        
    }
    .broker-text.me {
        margin-left: 1785px;
    }
    .broker-text.mt {
        margin-top: 210px;
    }
}

@media screen and (max-width: 1440px) {
    .background-admirals{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 45vh;
        
    }
    .broker-text.me {
        margin-left: 910px;
    }
    .broker-text.mt {
        margin-top: 165px;
    }
}

@media screen and (max-width: 1920px) {
    .background-admirals{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 76vh;
        
    }
    .broker-text.me {
        margin-left: 1280px;
    }
    .broker-text.mt {
        margin-top: 210px;
    }
}

@media screen and (max-width: 1440px) {
    .background-admirals{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 62vh;
        
    }
    .broker-text.me {
        margin-left: 901px;
    }
    .broker-text.mt {
        margin-top: 150px;
    }
}

@media screen and (max-width: 1024px) {
    .background-admirals{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 44vh;
        
    }
    .broker-text.me {
        margin-left: 600px;
    }
    .broker-text.mt {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .background-admirals{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 33vh;
        
    }
    .broker-text.me {
        margin-left: 585px;
    }
    .broker-text.mt {
        margin-top: 50px;
    }
}

@media screen and (max-width: 425px) {
    .background-admirals{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 18vh;
        
    }
    .broker-text.me {
        margin-left: 585px;
    }
    .broker-text.mt {
        margin-top: 50px;
    }
}