.formation-title{
    color: #101D47;
}
.formation-subtitle{
    color: #101D47;
}
.formation-submit{
    text-align: center;
}
.formation-button{
    height: 50px;
    width: 180px;
    background-color: rgb(16, 29, 71);
    color: #B18930 ;
    border-radius: 15px;
    border:solid 3px #B18930;
    margin-bottom: 5px;
}
.formation-button:hover{
    height: 50px;
    width: 180px;
    color: #CCB72B;
    border-radius: 15px;
    border:solid 3px #CCB72B;
}
.background-formation{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
/*card formations*/
#formation-card{
    margin-top: 10px;
    margin-bottom: 10px;
    /*position: relative;*/
    left: 300px;
}

#font-button-formation {
    font-size: 25px;
    font-weight: 700;
    color: #B18930;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

li{
    list-style-type: none;
}

#dropdown-formation {
    background-color: #101D47;
    color: #CCB72B;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 2px #B18930;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-dropdown-0.mt {
    margin-top: 40px;
}

.center-dropdown-0 {
    justify-content: center;
    text-align: center;
}

.center-dropdown-1.mt {
    margin-top: 40px;
}

.center-dropdown-1 {
    justify-content: center;
    text-align: center;
}

.center-dropdown-2.mt {
    margin-top: 40px;
}

.center-dropdown-2 {
    justify-content: center;
    text-align: center;
}

.center-dropdown-3.mt {
    margin-top: 40px;
}

.center-dropdown-3 {
    justify-content: center;
    text-align: center;
}

#padding-forma-li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-img-top {
    justify-content: center;
    align-items: center;
}

#calculette {
    height: 168px;
    width: 168px;
    margin-left: 40px;
}

#btn-formation-calc.btn.btn-primary {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 80px;
    background-color: #101D47;
    border: solid 1px #B18930;
    color: #B18930;
}

#btn-formation-calc.btn.btn-primary:hover {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 80px;
    background-color: #101D47;
    border: solid 1px #CCB72B;
    color: #CCB72B;
}

#btn-formation-chart.btn.btn-primary {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    background-color: #101D47;
    border: solid 1px #B18930;
    color: #B18930;
}

#btn-formation-chart.btn.btn-primary:hover {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    background-color: #101D47;
    border: solid 1px #CCB72B;
    color: #CCB72B;
}
.card-title-formation-h5 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title-formation-p {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.banner-nico {
    width: 1400px;
    height: 450px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 15px 15px;
}

@media screen and (max-width:1440px) {
    .banner-nico {
        width: 500px;
        height: 450px;
        margin-right: auto;
        margin-left: auto;
        background-size: cover;
        background-position: center;
        border-radius: 15px 15px 15px 15px;
        
    }
    #formation-card{
        margin-top: 10px;
        margin-bottom: 10px;
        /*position: relative;*/
        left: 40px;
    }
}

@media screen and (max-width:1280px) {
    .center-dropdown-0.me {
        margin-left: 125px;
    }
    .center-dropdown-0.mt {
        margin-top: 10px;
    }
    .center-dropdown-1.me {
        margin-left: 210px;
    }
    .center-dropdown-1.mt {
        margin-top: 10px;
    }
    .center-dropdown-2.mt {
        margin-top: 150px;
    }
    .center-dropdown-2.me {
        margin-left: -425px;
    }
    .center-dropdown-3.mt {
        margin-top: 30px;
    }
    .center-dropdown-3.me {
        margin-left: -520px;
    }
}