#vimeo-trailer-zoom {
    border-radius: 10px;
}

iframe {
    width: 570px;
    height: 308px;
    border-radius: 10px;
}
.vimeo-trailer.ms {
    margin-left: 200px;
}

.zoom-card-up.mt {
   margin-top: 100px;
}

.zoom-card-up.me{
    margin-left: -90px;
}

#card-zoom {
    box-shadow: none;
    background-color: #101D47;
    border: 3px solid #B18930;
    border-radius: 20px;
    box-sizing: border-box;
}

#card-body-zoom {
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 10px;
    text-align: center;
}

#zoom-btn {
    margin-top: 70px;
    background-color: #CCB72B;
    border: #101D47;
    color: #101D47;
}

#zoom-parag {
    margin-top: 20px;
    color: #CCB72B;
}

#title-zoom {
    font-weight: 700;
    font-size: 37.92px;
    color: #CCB72B;
}

.fond-zoom {
    background:
    url(/public/assets/img/background-slogan.png) center center / cover no-repeat;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-size: cover;
    width: auto;
    height: 940px;
    object-fit: cover;
    display: block;
    box-sizing: border-box;
    z-index: -2;
}

@media screen and (min-width: 1024px){
    .vimeo-trailer.ms {
        margin-left: -20px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 1110px){
    .vimeo-trailer.ms {
        margin-left: 35px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 1210px){
    .vimeo-trailer.ms {
        margin-left: 90px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 1310px){
    .vimeo-trailer.ms {
        margin-left: 150px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 1410px){
    .vimeo-trailer.ms {
        margin-left: 210px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 1510px){
    .vimeo-trailer.ms {
        margin-left: 270px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 1610px){
    .vimeo-trailer.ms {
        margin-left: 330px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 1710px){
    .vimeo-trailer.ms {
        margin-left: 390px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 1810px){
    .vimeo-trailer.ms {
        margin-left: 450px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 1910px){
    .vimeo-trailer.ms {
        margin-left: 510px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 2010px){
    .vimeo-trailer.ms {
        margin-left: 570px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 2110px){
    .vimeo-trailer.ms {
        margin-left: 630px;
    }
    .zoom-card-up.me{
        margin-left: -185px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (max-width: 1024px){
    .vimeo-trailer.ms {
        margin-left: 250px;
    }
    .zoom-card-up.me{
        margin-left: -400px;
    }
    .zoom-card-up.mt{
        margin-top: 330px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}

@media screen and (min-width: 1440px){
    .vimeo-trailer.ms {
        margin-left: 250px;
    }
    .zoom-card-up.me{
        margin-left: -180px;
    }
    .zoom-card-up.mt{
        margin-top: 80px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}


@media screen and (min-width: 2560px){
    .vimeo-trailer.ms {
        margin-left: 890px;
    }
    .zoom-card-up.me{
        margin-left: -190px;
    }
    .zoom-card-up.mt{
        margin-top: 90px;
    }
    iframe {
        width: 500px;
        height: 280px;
    }
    #card-zoom {
        width: 600px;
    }
}