{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Informations{% endblock %}

{% block content %}
    <div class="background-informations"  style="background-image: url('{{asset('assets/img/background-404.png')}}')" alt="">
    <hr class="featurette-divider">
                                                
    <div class="row featurette">
      <div class="col-md-12">
    <div class="card w-75 mb-3 mx-auto">
  <div class="card-body">
    <h5 class="card-title-informations">Incident Google Play</h5>
    <p class="card-text-informations">Un indicent technique pour les paiements sur Play Store est en cours de résolution, en l'attente merci de bien vouloir envoyer un email à Wallstreetforex.academy@gmail.com pour les abonnements à l'application mobile Android.</p>
    <div class="informations-submit"><a target="_blank" href="#"><button type="submit" class="informations-button">Nous contacter</button></a></div>
  </div>
</div>
      </div>
    </div>
    </div>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}

