{% extends 'base.html.twig' %}

{% block title %}Wall Street Forex | Informations{% endblock %}

{% block content %}
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading fw-normal lh-1">Incident Google Play</h2>
        <p class="lead">Un indicent technique pour les paiements sur Play Store est en cours de résolution, en l'attente merci de bien vouloir envoyer un email à Wallstreetforex.academy@gmail.com pour les abonnements à l'application mobile Android.</p>
      </div>
    </div>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}

